/* Mantém seu scroll */
.dog-list-wrapper {
  max-height: calc(88.7vh - 150px);
  overflow-y: auto;
  padding: 1rem;
}

.carousel-img {
  width: 100%;
  max-height: 450px;
  object-fit: contain; /* mostra a imagem inteira */
  background: #00000010; /* opcional: fundo neutro pra não ficar feio */
}

.dog-card-content {
  border-radius: 8px;
  padding: 1.2rem;
  gap: 1.25rem;

  /* Borda suave */
  border: 1px solid #e2e8f0;

  /* Sombra leve */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  /* Pra não colar no outro */
  margin-bottom: 1rem;

  background: #fff;
}
