.filter-container {
  .filter-form-wrapper {
    overflow: hidden;
    transition: all 0.25s ease-in-out;
  }

  form {
    background: var(--surface-card);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  @media screen and (max-width: 768px) {
    form {
      padding: 1rem;
    }
  }
}
