<p-card>
  <h2>{{ title }}</h2>

  <form [formGroup]="form">
    <div class="formgrid grid">
      <!-- Nome da raça -->
      <div class="field col-12 md:col-6 lg:col-4">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="nome"
            autocomplete="off"
            formControlName="name"
            [ngClass]="{
              'ng-invalid ng-dirty':
                form.get('name')?.invalid && form.get('name')?.touched
            }"
            fluid
            maxlength="50"
          />
          <label for="nome">Nome da raça</label>
        </p-floatlabel>
        <app-erro [control]="form.get('name')"></app-erro>
      </div>

      <!-- Nacionalidade -->
      <div class="field col-12 md:col-6 lg:col-4">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="nationality"
            autocomplete="off"
            formControlName="nationality"
            [ngClass]="{
              'ng-invalid ng-dirty':
                form.get('nationality')?.invalid &&
                form.get('nationality')?.touched
            }"
            fluid
            maxlength="50"
          />
          <label for="nationality">Nacionalidade da raça</label>
        </p-floatlabel>
        <app-erro [control]="form.get('nationality')"></app-erro>
      </div>

      <!-- Tipo -->
      <div class="field col-12 md:col-6 lg:col-4">
        <p-floatlabel variant="on">
          <p-select
            formControlName="type"
            inputId="on_label"
            [options]="types"
            optionLabel="name"
            class="w-full"
            emptyMessage="Nenhum tipo encontrado"
          />
          <label for="on_label">Tipo</label>
        </p-floatlabel>
        <app-erro [control]="form.get('type')"></app-erro>
      </div>
    </div>

    <!-- Botão alinhado bonitinho -->
    @if(!isViewMode) {
    <div class="flex justify-content-end mt-4">
      <p-button
        label="Salvar"
        [disabled]="form.invalid"
        (onClick)="save()"
      ></p-button>
    </div>
    }
  </form>
</p-card>
